.img {
    height: 844x;
    width: 390px;
}

.btn {
    align-items: center;
    margin-left: 25px;
    border-radius: 50%;
    width: 335px;
    margin-top: -150px;
    font-weight: 600;
    font-size: 20px;
}