<ion-app>
  <ion-content color="black" scroll-y="false">
    <ion-grid>
      <ion-row>
        <img class='img' src="./assets/icon/logo.png">
      </ion-row>
      <ion-row>
        <div class="signin">
          <h1>Login to your account</h1>
        </div>
      </ion-row>
      <ion-row>
        <div class="login" >
          <ion-item color="black" >
            <ion-label position="floating" background-color="black" >Email</ion-label>
            <ion-input type="email" autocapitalize="sentences" autocomplete="off" #userEmail required></ion-input>
          </ion-item>
          <ion-item color="black">
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" autocapitalize="sentences" autocomplete="off" #userPassword required></ion-input>
          </ion-item>
          <ion-button color="new" (click)="authService.SignIn(userEmail.value, userPassword.value)" (click)="signin(userEmail.value)">Log in</ion-button>
          <p class="fp" [routerLink]="['/forgot-password']">Forgot Password?</p>
          <span class="divider line one-line">or continue with</span>
          <ion-row>
            <ion-col>
              <img class="google" src="./assets/icon/google.png" (click)="authService.GoogleAuth()">
            </ion-col>
            <ion-col>
              <img class="apple" src="./assets/icon/apple.png" (click)="authService.AppleAuth()">
            </ion-col>
            <ion-col>
              <img class="fb" src="./assets/icon/fb.png" (click)="authService.FacebookAuth()">
            </ion-col>
          </ion-row>
        </div>
      </ion-row>
      <ion-row>
        <div>
          <h5 class="reg">Don't have an account?<span class="btn" [routerLink]="['/registration']">Sign Up</span></h5>
          
        </div>
      </ion-row>
    </ion-grid>
    <script>
      
      
    </script>
  </ion-content>
</ion-app>