@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

ion-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    margin-top: 60px;
    height: 150px;
    width: 180px;
}

h1 {
    font-weight: 500;
    font-size: 22px;
    font-family: 'Poppins';
}

.login {
    width: 300px;
}

ion-button {
    align-items: center;
    margin-left: 18px;
    margin-top: 20px;
    border-radius: 50%;
    width: 282px;   
}

.fp {
    margin-left: 22px;
    font-size: 14px;
    font-weight: 100;
    color: #696969;
    
}

.divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
  }
  
  .line {
    align-items: center;
    margin: 1em 1em;
    color: #cccccc;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
  } 
  
  .one-line {
    &:before,
    &:after {
       background: #cccccc;
    }
  }

.google {
    margin-top: 10px;
}

.apple {
    margin-top: 10px;
}

.fb {
    margin-top: 10px;
}

.reg{
    margin-top: 20px;
    font-size: 16px;
}

.btn {
    font-size: 16px;
    margin-top: 2px;
    margin-left: 5px;
    color: #06A0B5;
    font-weight: 600;   
}