@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

ion-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.db{
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 24px;
  margin-top: 20px;
}

ion-avatar {
    --border-radius: 50%;
    width: 120px !important; 
    height : 120px !important;
    margin-top: 20px;
}

.det {
    margin-top: 30px;
}

ion-item {
    width: 300px;
}

ion-button {
    margin-top: 200px;
    border-radius: 50%;
    width: 300px;   
}

