<ion-app>
  <ion-content color="black" scroll-y='false'>
    <ion-grid>
      <ion-row>
        <img class='img' src="./assets/icon/logo.png">
      </ion-row>
      <ion-row>
        <div class="reset">
          <h3>Reset Password</h3>
        </div>
      </ion-row>
      <ion-row>
        <h6>Please enter your email address </h6>
        <h6>to request a password reset.</h6>
      </ion-row>
      <ion-row>
        <div class="mail">
          <ion-item color="black">
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" autocapitalize="sentences" autocomplete="off" #passwordResetEmail required></ion-input>
          </ion-item>
        </div>
      </ion-row>
      <ion-row>
        <ion-button class="btn" color="new" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Password</ion-button>
      </ion-row>
      <ion-row>
        <span class="back">Go back to ? <span class="btn1" routerLink="/login">Log in</span></span>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>