<ion-app>
  <ion-content color="black" [fullscreen]="true" scroll-y="false">
    <ion-grid>
      <ion-row class="row1">
        <img class="img" src="./assets/icon/Untitled.png">
      </ion-row>
      <ion-row>
        <div class="row2">
          <h1>Listen Up</h1>
        </div>
      </ion-row>
      <ion-row class="row3">
        <ion-button class="btn" color="new" [routerLink]="['/login']">Get Started</ion-button>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>

<!-- <ion-app>
  <ion-content color="app" [fullscreen]="true" scroll-y="false">
    <div id="container">
        <h1 class="head">NYX</h1>
        <h1 class="head1">STORE</h1>
        <h1 class="head2">APP</h1>
    </div>
    <div class="cont">
      <ion-grid>
        <ion-row>
          <ion-button class="btn" color="light" [routerLink]="['/signin']"><p>Get Started</p></ion-button>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
</ion-app> -->